@model MSDB.Prodution

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Продукция</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад в список</a>
</div>
