@model MSDB.FinishedProducts

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Готовые продукции</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Назад в список</a>
</div>
